@import "./node_modules/nhsuk-frontend/packages/nhsuk";

#navbarScroll > div > div > a {color:white;}

td, tr, thead, tbody, table, th, body {
    font-size: 18px;
}

.NELTopPadding {
    padding-top: 20px;
}

.middle{vertical-align: middle}

.linkCustom {
    color: #005eb8;
    font-size: 18px;
    font-weight: 600;
    padding: 0 0 4px;
}

#maincontent > div > div > div > div.undefined.cardBaseContent > label {
    margin-bottom: 0px !important;
}

.nhsuk-width-container {
    max-width:80% !important;
    }

@mixin buttonShape {
    font-weight: 400;
    font-size: 16px;
    font-size: 1rem;
    line-height: 1.5;
    margin-bottom: 20px;
    -webkit-appearance: none;
    border: 2px solid transparent;
    border-radius: 4px;
    box-sizing: border-box;
    color: #ffffff;
    cursor: pointer;
    display: inline-block;
    font-weight: 600;
    margin-top: 0;
    padding: 12px 16px;
    position: relative;
    text-align: center;
    vertical-align: top;
    width: auto;
}
// Blue NHS Sizws Button
.nhsuk-buttonBlue {
    @include buttonShape;
    background-color: #005eb8;
    box-shadow: 0 4px 0 #010e58;
}

.nhsuk-buttonBlue:hover {
    background-color: #0d6efd;
}
// Green NHS Sizws Button
.nhsuk-buttonGreen {
    @include buttonShape;
    background-color: #007f3b;
    box-shadow: 0 4px 0 #00401e;
}

.nhsuk-buttonGreen:hover {
    background-color: #768692;
}
// Red NHS Sizws Button
.nhsuk-buttonRed {
    @include buttonShape;
    background-color: #dc3545;
    box-shadow: 0 4px 0 #6f1e26;
}

.nhsuk-buttonRed:hover {
    background-color: #ea2134;
}

.nhsuk-buttonGrey {
    @include buttonShape;
    background-color: grey;
    box-shadow: 0 4px 0 #211e1e;
}

.nhsuk-buttonGrey:hover {
    background-color: #9c9797;
}

.nhsuk-buttonPrimary {
    @include buttonShape;
    background-color: #005eb8;
    box-shadow: 0 4px 0 #0d6efd;
}

#navbarScroll > div > div.nav-item.show.dropdown > div > div:nth-child(1) > a,
#navbarScroll > div > div.nav-item.show.dropdown > div > div:nth-child(2) > a {
    color: #000 !important;
}


@media (min-width: 40.0625em) {th, td {
    padding-top: 15px;
    padding-bottom: 0px;
    ;
}

}