@import url('color-theme.scss');

.text-hero {
    color: var( --hero-color);
    font-weight:lighter;
}

.navBtn {
    margin: 10px 0 0 10px;
    padding: 10px;
}

.nav-link { padding: 0; }

.submenu {
    display: none;
    border-left: 1px solid #ccc;
    margin-left: 26px;
    list-style: none;
}

.submenu.active {
    display: block;
}

li{ list-style-type:none; }

hr {
    color: #cccccc;
    background: var( --light-background);
    margin-left: 20px;
    margin-right: 20px;
}

a.linkVisited:visited {
    color: #fff !important;
    text-decoration:none;
}




