{
  "AZURE_TENANT_ID": "",
  "AZURE_CLIENT_ID": "",
  "AZURE_CLIENT_SECRET": "",
  "USERNAME": "",
  "PASSWORD": "",
  "FAKE_REFRESH_SECRET": "",
  "FAKE_REFRESH_TOKEN": "",
  "FAKE_JWT": "",
  "SCOPE": "",
  "AUTH_ENVIRONMENT": "login.windows.net"
}
