@import url('./src/styles/color-theme.scss');


.cardBase {
    margin-top: 15px;
    margin-bottom: 10px;
    background: #fff;
    border: 1px solid #d8dde0;
    position: relative;
    width: 100%;
}

.cardBaseBody {
    padding-top: 0 !important;
    padding: 32px;
    position: relative;
}

.cardBaseTitle {
    margin-top: 0;
    background: var( --hero-color);
    color: #fff;
    display: inline-block;
    left: -33px;
    margin-bottom: 8px;
    margin-right: -24px;
    padding: 8px 24px;
    position: relative;
    top: -8px;
    font-size: 1.5rem;
    line-height: 1.33333
}

.cardBaseContent {
    margin-bottom: 0;
}

.card {
    border: none;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.table th, .table td {
    vertical-align: middle;
}

.mh-200 {
    min-height: 170px;
}